<div class="abrir-modal animation fadeIn" *ngIf="modalService.modal">
  <div class="modal" tabindex="-1" style="display: block">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{title}}</h5>
          <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="container">
            <div class="row">

              <ul *ngIf="customer" class="list-group text-dark mb-3">
                <li class="list-group-item active">{{customer.firstName}}</li>
                <li class="list-group-item">{{customer.lastName}}</li>
                <li class="list-group-item">{{customer.email}}</li>
                <li class="list-group-item">{{customer.createdAt | date: 'fullDate'}}</li>
              </ul>

              <div class="col-sm">
                <div class="input-group mb-3" *ngIf="authService.hasRole('ROLE_USER')">
                  <div class="custom-file">
                    <input (change)="selectPhoto($event)" type="file" class="custom-file-input" id="inputGroupFile04"
                           aria-describedby="inputGroupFileAddon04">
                    <label class="custom-file-label" for="inputGroupFile04">Upload photo</label>
                  </div>
                  <div class="input-group-append">
                    <button (click)="uploadPhoto()" [disabled]="!selectPhotoFile" class="btn btn-outline-secondary"
                            type="button" id="inputGroupFileAddon04">Button
                    </button>
                  </div>
                </div>

                <div *ngIf="progress > 0" class="progress" style="height: 40px">
                  <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{width:progress+ '%'}"
                       attr.aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
                    {{progress}}%
                  </div>
                </div>

              </div>
              <div class="col-sm">
                <img *ngIf="customer.photo" src="http://localhost:8080/api/customers/upload/img/{{customer.photo}}"
                     alt="{{customer.photo}}" class="img-thumbnail rounded">
              </div>
            </div>

            <div class="row">
              <td><button class="btn btn-success btn-sm" type="button" [routerLink]="['/bill/form', customer.id]">Create Bill</button></td>
            </div>

            <div class="row">

              <div class="alert alert-info my-4" *ngIf="customer.bills.length == 0">
                Customer {{customer.firstName}} {{customer.lastName}} dosn't has bill
              </div>

              <table class="table table-bordered table-striped my-4"  *ngIf="customer.bills.length > 0">
                <thead>
                  <tr>
                    <th>Invoice</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Detail</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                <tr *ngFor="let bill of customer.bills">
                  <td>{{bill.id}}</td>
                  <td>{{bill.description}}</td>
                  <td>{{bill.createdAt}}</td>
                  <td>{{bill.total}}</td>
                  <td><button class="btn btn-primary btn-sm" type="button"
                    [routerLink]="['/bill', bill.id]"
                  >Open</button></td>
                  <button class="btn btn-danger btn-sm" type="button" (click)="delete(bill)">Delete</button>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
