<app-detail *ngIf="customerSelected" [customer]='customerSelected'></app-detail>
<div class="card border-primary mb-3">
  <div class="card-header">Customers</div>
  <div class="card-body text-primary">
    <h5 class="card-title">List of customers</h5>

    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-rounded btn-primary" type="button"
              [routerLink]="['/customers/form']"
      >Create customer
      </button>
    </div>
    <div *ngIf="customers?.length === 0" class="alert alert-info">
      Customers not found!
    </div>
    <table class="table table-bordered table-stripped" *ngIf="customers?.length>0">
      <thead>
      <tr>
        <th *ngIf="authService.hasRole('ROLE_USER')">#</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>CreatedAt</th>
        <th>Region</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Edit</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cust of customers">
        <!--        <td><button [routerLink]="['/customers/detail', cust.id]" class="btn btn-success btn-sm">{{cust.id}}</button></td>-->
        <!--        <td><button (click)="openModal(cust)" class="btn btn-success btn-sm">{{cust.id}}</button></td>-->
        <td *ngIf="authService.hasRole('ROLE_USER')"><img (click)="openModal(cust)" *ngIf="cust?.photo" src="http://localhost:8080/api/customers/upload/img/{{cust.photo}}"
                 alt="{{cust.photo}}" class="img-thumbnail rounded"
                 style="width: 64px; cursor: pointer"
        >

          <img (click)="openModal(cust)" *ngIf="!cust?.photo" src="http://localhost:8080/images/not_interested.png"
               alt="no-photo" class="img-thumbnail rounded"
               style="width: 64px; cursor: pointer"
          >
        </td>
        <td>{{cust.firstName | uppercase}}</td>
        <td>{{cust.lastName}}</td>
        <td>{{cust.email}}</td>
        <td>{{cust.createdAt | date:'fullDate'}}</td>
        <td>{{cust.region.name}}</td>
        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
          <button type="button" name="edit" [routerLink]="['/customers/form', cust.id]" class="btn btn-primary">edit
          </button>
        </td>
        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
          <button type="button" name="delete" (click)="delete(cust)" class="btn btn-danger btn-sm">delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="paginator" [paginator]="paginator"></app-paginator>
  </div>
</div>
